
.icon-guiso:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-hamburguesa:before { content: '\e815'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-tenedor:before { content: '\f0f5'; } /* '' */
.icon-snapchat:before { content: '\f2ac'; } /* '' */
.icon-instagram:before { content: '\f31f'; } /* '' */